{% include 'admin_header.html' %}
<center>
	<u><b><h1>JOB APPLICATIONS</h1></b></u>
		<form>
			<table  class="table" style="width:500px">
				<tr>
					<th>Sno:</th>
					<th>STUDENT NAME</th>
					<th>COMPANY NAME</th>
					<th>POST</th>
					<th>VANCY</th>
					<th>DATE TIME</th>
				</tr>
				{% for row in data['view'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['first_name']}}.{{row['last_name']}}</td>
					<td>{{row['company_name']}}</td>
					<td>{{row['post']}}</td>
					<td>{{row['vacancy_count']}}</td>
					<td>{{row['job_date_time']}}</td>
				</tr>
				{% endfor %}
			</table>
		</form>
</center>
{% include 'footer.html' %}